
<header>

	<nav class="blue-grey darken-2" role="navigation">
	  <div class="nav-wrapper">
	    <a  id="logo-container" href="/" class="brand-logo left"> npr Scraped </a>
	    <ul id="nav-mobile" class="right hide-on-med-and-down">
	    	<li><a href="/"> Home </a></li>
	        <li><a href="/"> Scrape New Articles </a></li>
	        <li><a href="/saved"> Saved </a></li>
	        <li><a href="/hidden"> Hidden </a></li>
	    </ul>
	  </div>
	</nav>

</header>

<div class="container">
	<div class="row">

      	<div id="articles" class="col s9">
      		<div id="articlesHeader">
      			<span id="articlesTitle"> HIDDEN STORIES </span>
      		</div>
			<div id="articlesDiv">
				{{> hidden_articles }}
			</div>

		</div>

		<div id="notesSection" class="col s3">
			<div id="notesHeader">
				<span id="notesTitle">NOTES</span>
			</div>
			<div id="notesDiv">
				<div class="col s12">
                    <div id="notes"></div>
				</div>
			</div>
		</div>

	</div>
</div>
