
	#articlesDiv {
		border-top: solid #455a64 2px;
		margin-left: -100px;
	}

	#notesDiv {
		border-top: solid #455a64 2px;
		margin-right: -100px;
	}

	#articlesTitle {
		font-size: 20px;
		margin-left: -100px;
		padding-left: 5px;
	}

	#notesTitle {
		margin-right: -100px;
		font-size: 20px;
	}

	nav {
		padding-right: 70px;
		padding-left: 70px;
	}

	header {
		margin-bottom: 30px;
	}

	.body {
		margin: 0;
	}

	.horizontal {
		height: 270px;
	}

	.article-title {
		font-size: 20px;
		font-weight: bold;
	}

	.card-image, img {
		width: 200px;
		height: 216px;
	}

	.input-field {
		margin-top: -10px;
	}

