	nav {
		padding-right: 70px;
		padding-left: 70px;
	}

	header {
		margin-bottom: 30px;
	}

	#articlesDiv {
		border-top: solid #455a64 2px;
	}

	#articlesSection {
        display: inline-block;
        overflow: auto;
        width: 80%;
        height: 700px;
        margin-left: -100px;
    }

    #articlesTitle {
		font-size: 20px;
		padding-left: 5px;
	}

	.horizontal {
		height: 270px;
	}

	.article-title {
		font-size: 20px;
		font-weight: bold;
	}

	.card-image, img {
		width: 200px;
		height: 216px;
	}

	.card-content {
		height: 216px;
		overflow: scroll;
	}

	#notesDiv {
		border-top: solid #455a64 2px;
		margin-right: -100px;
	}

    #notesSection {
        float: right;
        width: 25%;
    }

	#notesTitle {
		margin-right: -100px;
		font-size: 20px;
		padding-left: 5px;
	}

	.notesArticle {
		font-size: 18px;
		font-weight: bold;
	}

	.noteBody {
		margin: 0;
	}

	.input-field {
		margin-top: -10px;
	}

	textarea {
		height: 200px;
		padding: 10px;
	}

	#saveNote {
		color: #1976d2;
		background-color: #e0e0e0;
	}

